<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.shop.member.service.MemberMapper">
	<select id="memberSelectList" resultType="co.shop.member.service.MemberVO">
		
		SELECT *
		FROM (SELECT ROWNUM rn, b.*
			FROM(SELECT * FROM member) b )
		WHERE rn BETWEEN ((#{page}-1) * 5) +1
			AND (#{page} * 5)
	</select>
	
	<select id="memberSelect" resultType="co.shop.member.service.MemberVO">
		SELECT * FROM member
		WHERE member_id = #{memberId}
		<if test="memberPw != null">
			AND member_pw = #{memberPw}
		</if>
		<if test="memberTel != null">
			AND member_tel = #{memberTel}
		</if>
	</select>
	
	<select id="memberSelectMax">
		SELECT count(*)
		FROM member
	</select>
	
	<insert id="memberInsert">
		INSERT INTO member
		VALUES(#{memberId}, #{memberPw}, #{memberName}, #{memberAddr}, #{memberTel}, '1레벨')
	</insert>
	
	<update id = "memberUpdate" parameterType = "co.shop.member.service.MemberVO"> <!-- 구현체가 이거 -->
		UPDATE member
		<set>
			MEMBER_NAME = #{memberName}, 
			MEMBER_TEL = #{memberTel}, 
			MEMBER_ADDR = #{memberAddr}, 
		<if test="memberPw!= null and memberPw!= ''">
			MEMBER_PW = #{memberPw} 
		</if>
		</set>
		
		WHERE member_id = #{memberId}
	</update>
	

	<!--회원 탈퇴
	<delete id="memberDelete" parameterType="co.shop.member.service.MemberVO">
	  DELETE FROM member
	  WHERE member_id = #{memberId}
	</delete> -->

	<!-- 회원 탈퇴 -->
	<delete id="memberDelete" parameterType="java.lang.String">
	  DELETE FROM member
	   WHERE member_id = #{memberId} 
	     and member_pw =#{memberPw}
	</delete>
		
	
	<!-- 비밀번호 일치 여부 확인 -->
	<select id="checkPassword" parameterType="co.shop.member.service.MemberVO" resultType="java.lang.Integer">
	  SELECT COUNT(*) FROM member
	  WHERE member_id = #{memberId} AND member_pw = #{memberPw}
	</select>
	
	
	
</mapper>